<% provide(:title, "Help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "help1" %>
  <%= link_to "Rails Tutorial help section", "http://www.railstutorial.org/help" %>
  <%= t "help2" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em><%= t "title" %></em>
  <% end %>
  <%= t "help3" %>
</p>
